<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nixor Student Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>195E33F6210FB6D500E21E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B59C2120E52EBA00D865DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B59C3520E52EBA00D865DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B59C4020E52EBA00D865DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
